<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hazem.draduation">

    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Books"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".BookDetail" />
        <activity
            android:name=".FavouriteActivity"
            android:configChanges="orientation|screenSize" />

        <provider
            android:name=".ContentProv"
            android:authorities="com.example.hazem.draduation.ContentProv"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.hazem.PROVIDER"
            android:process=":provider" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3e4f21039625b5951013edc6ea9e5a19445a5569" />

        <receiver android:name=".LoveWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/love_widget_info" />
        </receiver>
        <receiver android:name=".Mybrodcast">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyIntentService"
            android:exported="false">

        </service>
    </application>

</manifest>